# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data files (optional - comment out if you want CSVs tracked)
# *.csv

# IDE
.vscode/
.idea/
.env
.env
.venv
01_ingestion_and_imputation/Imputed_and_cleaned_data.csv
01_ingestion_and_imputation/Imputed_and_cleaned_data_with_region.csv
01_ingestion_and_imputation/imputed_data_less_than_70_missing.csv
